// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: #6B3F41;
}
.main-content {
    background-color: #6B3F41;
    width: 80%;
    margin: auto;
    padding: 2em;
}

.store {
    h1 {
        margin: 0;
        padding-bottom: 0.5em;
        font: 150% sans-serif;
        background-color: #5C5E4E;
        color: #DCCFCA;
        border-bottom: 3px dotted #F1D598;
    }

    /* An entry in the catalog */
    .entry {
        overflow: auto;
        margin-top: 1em;
        background-color: #F1D598;
        border-bottom: 1px dotted #6B3F41;
        min-height: 100px;

        img {
            width: 80px;
            margin-right: 5px;
            margin-bottom: 5px;
            position: absolute;
        }

        h3 {
            font-size: 120%;
            background-color: #BF934F;
            font-family: serif;
            margin-left: 100px;
            margin-top: 0;
            margin-bottom: 2px;
            color: #6B3F41;
        }

        p, div.price_line {
            margin-left: 100px;
            margin-top: 0.5em;
            margin-bottom: 0.8em;
        }

        .price {
            color: #6B3F41;
            font-weight: bold;
            margin-right: 3em;
        }
    }
}
